VITE_GITHUB_URL=https://github.com/inshrahmumtaz
VITE_LINKEDIN_URL=https://www.linkedin.com/in/inshrahmumtaz
VITE_EMAIL=inshrahmumtaz786@icloud.com

VITE_GITHUB_PROJECT1_URL=https://github.com/inshrahmumtaz/task-manager
VITE_GITHUB_PROJECT2_URL=https://github.com/inshrahmumtaz/educonnect
VITE_GITHUB_PROJECT3_URL=https://github.com/inshrahmumtaz/learn-eaze
VITE_GITHUB_PROJECT4_URL=https://github.com/inshrahmumtaz/netflix-analysis

